<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="css/account.css" rel="stylesheet">
   <script src="js/post.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
    <form id="addPostForm" role="form" method="get" action="/add">
        <h3>My Account</h3>

        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>

        <div class="form-group">
          <label for="picture">Profile Picture:</label>
          <input type="img" class="form-control" id="picture" placeholder="Choose Profile Picture" name="picture">
        </div>

        <div class="form-group">
          <label for="lost">My Lost Items:</label>
          <input type="text" class="form-control" id="lost" placeholder="Lost Items" name="lost">
        </div>

        <div class="form-group">
          <label for="found">My Found Items:</label>
          <input type="type" class="form-control" id="found" placeholder="Found Items" name="found"><br><br>
        </div>

    </form>

    <div class="back"> 
	     <button type="submit" onclick="window.location.href = '/lost';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>   

</body>