<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="css/account.css" rel="stylesheet">
   <script src="js/post.js"></script>
</head>

<!--{{#each account}}
  <h1>{{firstName}}</h1>
  <h2>{{lastName}}</h2>
  <p>{{email}}</p>
  <p>{{username}}</p>
{{/each}}
-->

<body>
    <form id="addPostForm" role="form" method="get" action="/add">
        <h3>My Account</h3>

        <div id="profilepic"><i class="fa fa-user"></i></div>

        <div class="accinfo">
          <label for="name">Username: Placeholder</label>
        </div>

        <div class="accinfo">
          <label for="lost">My Lost Items: Placeholder</label>
        </div>

        <div class="accinfo">
          <label for="found">My Found Items: Placeholder</label>
        </div>

        <div class="accinfo">
          <label for="friends">My Friends: Placeholder</label>
        </div>

    </form>

    <div class="back"> 
	     <button type="submit" onclick="window.location.href = '/lost';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>   

     <div class="logout"> 
	     <button type="submit" onclick="window.location.href = '/';">Logout</button>
    </div>   


</body>
