<!doctype html>
<html>
<head>
   <link rel="stylesheet" href="css/bootstrap-theme.css">
   <link rel="stylesheet" href="css/bootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/css/introHCI.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Home Page</title>
</head>

<body>
   <div>
      <div class="image">
      <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/88357308_2484362495160221_1892345505237696512_n.png?_nc_cat=107&_nc_sid=b96e70&_nc_ohc=qQs6Fbut4rUAX9zXM3N&_nc_ht=scontent-lax3-2.xx&oh=5fa96f0639d3ee663a794d4edc828962&oe=5E83C1FD" class="img-responsive">
      </div>
       <h1 align="center">Find and Seek</h1>
         <div class="buttons">
            <button id="btn3" onclick="window.location.href = 'signin';">Sign In</button>
            <button id="btn4" onclick="window.location.href = 'create';">Create an Account</button>
         </div>
   </div>
</body>

</html>
