<!doctype html>
<html>
<head>
   <link rel="stylesheet" href="css/bootstrap-theme.css">
   <link rel="stylesheet" href="css/bootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/css/introHCI.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Home Page</title>
</head>

<body>
   <div>
      <h1 align="center">Find and Seek</h1>
      <div class="image">
      <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/87803979_637828490352398_5680598632739373056_n.png?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=8kTk1PhJQWIAX8YCW-O&_nc_ht=scontent-lax3-1.xx&oh=0d076381332a7a2f1ee7f3ff4ad108d7&oe=5EF3BFD6" class="img-responsive">
      </div>
         <div class="buttons">
            <button id="btn3" onclick="window.location.href = 'signin';">Sign in</button>
            <button id="btn4" onclick="window.location.href = 'create';">Create an Account</button>
         </div>
   </div>
</body>

</html>
