<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="css/post.css" rel="stylesheet">
   <script src="js/post.js"></script>
</head>

<body>
    <form id="addPostForm" role="form" method="get" action="/add">
        <h3>Add an Item</h3>

        <div class="form-group">
          <label for="name">Item Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Item Name" name="name">
        </div>

        <div class="form-group">
          <label for="lost item or found item">Lost or Found:</label>
          <br/>
          <input type="button" id="LostBtn" class="btn btn-default" value="Lost Item" onclick="lost()"></input>
          <input type="button" id="FoundBtn" class="btn btn-default" value="Found Item" onclick="found()"></input>
          <input type="text" class="form-control" id="lost_found" placeholder="lost_found" name="lost_found" style="display:none;"></input>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" placeholder="Description" name="description">
        </div>
        
        <div class="form-group">
          <label for="description">Last Location Seen:</label>
          <p class="op">(Optional)</p>
          <input type="text" class="form-control" id="lastseen" placeholder="Last Location Seen" name="lastseen">
        </div>

        <div class="form-group">
          <label for="image">Image:</label>
          <p class="op">(Optional)</p>
          <input type="url" class="form-control" id="image" placeholder="image" name="image"><br><br>
          <label for="newDate"></label>
          <input type="submit" id="submitBtn" class="btn btn-default" value="Add Item" onclick="date()"></input>

        </div>
    </form>

    <div class="back"> 
	     <button type="submit" onclick="window.location.href = '/lost';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>   

</body>
