<!doctype html>

<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="js/signin.js"></script>
   <link href="/css/signin.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Sign In</title>
</head>

<body>
   <h2>Sign In</h2>
   <div>
      <form id="signinForm" action="/lost" onsubmit="home()">
         <h3>username</h3>
         <input type="text" name="username" placeholder="Username">
         <h3>password</h3>
         <input type="text" name="password" placeholder="Password" ><br><br>
         <button type="submit" class="sumbit">Submit</button>
      </form>
   </div>
   <div class="back"> 
	   <button type="submit" onclick="window.location.href = '/';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
   </div>
</body>
</html>
