body{
  height: 100%;
  width: 100%;
  overflow: auto;
}
h3 {
   position: fixed;
   text-align: center;
   margin-top: 0px;
   padding-top: 15px;
   width:100%;
   color: white;
   height: 60px;
   background-color: #2196F3;
   font-family: Verdana, Geneva, sans-serif;
}

#profilepic {
   position: relative;
   display: block;
   padding: 40px;
   height: 125px;
   width: 125px;
   font-size: 75px;
   text-align: center;
   z-index: -1;

 }


.accinfo {
   position: relative;
   display: block;
   padding: 10px;
}

.back button {
   background-color: #2196F3;
   position: fixed;
   width: 75px;
   bottom: 0px;
   padding: 25px;
   color: white;
   font-size: 18px;
   border: transparent;
   border-left: none;
   cursor: pointer;
}

.logout button {
   position: fixed;
   background-color: #2196F3;
   right: 175px;
   width: 75px;
   padding: 10px;
   color: white;
   font-size: 14px;
   border: transparent;
   cursor: pointer;
   text-align: center;
   bottom:0px;
}
.back{
   margin-top:20px;
}
.accinfo4 {
    margin-bottom: 75px;
}
.accinfo1 {
    margin-top: 10px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img
{
   height:100px;
}
.lostPost {
    background-color: #d0d0d0;
    margin: 30px;
    padding: 10px;
}