h3 {
   position: relative;
   text-align: center;
   margin-top: 0px;
   padding-top: 15px;
   color: white;
   height: 60px;
   background-color: #2196F3;
   font-family: Verdana, Geneva, sans-serif;
}

#profilepic {
   position: relative;
   display: block;
   padding: 10px;
   height: 125px;
   width: 125px;
   font-size: 75px;
   text-align: center;
}

.accinfo {
   position: relative;
   display: block;
   padding: 10px;
}

.back button {
   background-color: #2196F3;
   position: absolute;
   width: 75px;
   bottom: 0px;
   padding: 25px;
   color: white;
   font-size: 18px;
   border: transparent;
   border-left: none;
   cursor: pointer;
}

.logout button {
   position: absolute;
   background-color: #2196F3;
   right: 175px;
   width: 75px;
   bottom: 100px;
   padding: 10px;
   color: white;
   font-size: 14px;
   border: transparent;
   cursor: pointer;
   text-align: center;
}

