body{
  height: 100%;
  width: 100%;
  overflow: auto;
}
h3 {
   display:inline;
   width:80%;
   color: white;
   height: 60px;
   background-color: #2196F3;
   font-family: Verdana, Geneva, sans-serif;
   padding-left: 50px;

}

#profilepic {
   position: relative;
   display: block;
   padding: 60px;
   font-size: 75px;
   text-align: center;
   z-index: -1;

 }


.accinfo {
   position: relative;
   display: block;
   padding: 10px;
}

.back button {
   background-color: #2196F3;
   position: fixed;
   width: 75px;
   bottom: 0px;
   padding: 25px;
   color: white;
   font-size: 18px;
   border: transparent;
   border-left: none;
   cursor: pointer;
}
.logout{
  display:flex;
  justify-content: center;
  width:100%;
}

.logout button {
   position: fixed;
   background-color: #2196F3;
   width: 150px;
   height:50px;
   padding: 10px;
   color: white;
   font-size: 14px;
   border: transparent;
   cursor: pointer;
   text-align: center;
   bottom:20px;
   border-radius: 25px;
}
.back{
   margin-top:20px;
}
.accinfo4 {
    margin-bottom: 75px;
}
.accinfo1 {
    margin-top: 10px;
    margin-left:20px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img
{
   height:100px;
}
.individual {
    background-color: #d0d0d0;
    margin: 30px;
    padding: 10px;
}
.accinfo2 {
    margin-top: 10px;
    margin-left:20px;
}
button{
    width: 20%;
    height: 60px;
    display: inline;
    background-color: #2196F3;
    border-color: transparent;
    color: white;
  }
  .navbar{
    width:100%;
    position:fixed;
    background-color: #2196F3;
  }
