h1 {
	font-size:37px;
   font-family:Verdana, Geneva, sans-serif;
   color:white;
   margin-bottom: 200px;
}

#btn3{
    display: block;
    height: 50px;
    width: 250px;
    margin: 20px auto;
    font-size: 20px;
    color: #2196F3;
    border: transparent;
    border-radius: 50px;
    border-left: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

#btn4{
    display: block;
    height: 50px;
    width: 250px;
    background-color: #2196F3;
    margin: 20px auto;
    font-size: 20px;
    color: white;
    border: transparent;
    border-radius: 50px;
    border-left: none;
    cursor: pointer;
    text-align: center;
    border-width: 2px;
    border-color: white;
    border-style: solid;

}

#homebody {
   display:block;
   margin-left:auto;
   margin-right:auto;
   height:60%;
   width:25%;
   text-align:center;
   border:20px solid black;
   padding:150px 0;
}

body {
	margin-top:150px;
  width:100%;
  height:100%;
  background-color:#2196F3 
}

.back {
  font-size:100px;
}

h2 {
  font-size:50px;
  margin-bottom:1800px;
}
.img-responsive {
    max-width: 100%;
    height:130px;
}
.image{
  display:flex;
  justify-content: center;
  width:100%;
}
.buttons{
  margin-top:200px;
}


