h3 {
  display:inline;
   width:80%;
   color: #2196F3;
   height: 60px;
   background-color: white;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 35px;
   font-weight: 600;
   padding-left: 90px;
}

.form-group {
   display: block;
   padding: 10px;
}

.back button {
    width: 20%;
    height: 60px;
    display: inline;
    background-color: white;
    border-color: transparent;
    color: #2196F3;
    font-size:18px;
}
.back{
    width:100%;
    position:fixed;
    background-color: white;
}

input[type="text"]{
   margin: auto;
   font-size: 15px;
   width: 87%;
   height: 30px;
   border-color: transparent;
   display: block;
   padding:10px;
   border-bottom:2px solid #2196F3;

}

input[type="url"]{
   margin: auto;
   font-size: 15px;
   width: 87%;
   height: 30px;
   border-color: transparent;
   display: block;
   padding:10px;
   border-bottom:2px solid #2196F3;

}
.op {
   display: inline;
   float: right;
   color: gray;
   margin-right: 25px;
}

.extra {
   display: inline;
   float: right;
   color: gray;
   margin-right: 35px;
} 

#LostBtn {
  width: 42%;
  margin-left: 25px;
}

#FoundBtn {
  width: 42%;
}

#submitBtn {
    font-size: 20px;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    width: 250px;
    height: 50px;
    border-left: none;
    cursor: pointer;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: transparent;
    margin-top: -30px;
}
form#addPostForm{
   padding-top:80px;
}

label {
  color: #2196F3;
  font-size: 17px;
  margin-left: 25px; 
}
