h3 {
  display:inline;
   width:80%;
   color: white;
   height: 60px;
   background-color: #2196F3;
   font-family: Verdana, Geneva, sans-serif;
   padding-left: 50px;
}

.form-group {
   display: block;
   padding: 10px;
}

.back button {
    width: 20%;
    height: 60px;
    display: inline;
    background-color: #2196F3;
    border-color: transparent;
    color: white;
    font-size:18px;
}
.back{
    width:100%;
    position:fixed;
    background-color: #2196F3;
}

.op {
   display: inline;
   float: right;
   color: gray;
}

#submitBtn {
   position:relative;
   float: right;
   background-color: #2196F3;
   color: white;
}
form#addPostForm{
   padding-top:80px;
}
   

