* { padding: 0; margin: 0;top:0px;}
body{
  height: 100%;
  width: 100%;
  overflow: auto;
}
.back{
    width:100%;
    position:fixed;
}

h3 {
  margin: 25px;
  font-size: 17px;
  font-family: Verdana, Geneva, sans-serif;
  color:#2196F3;
  margin-left:45px;
}

.back button {
    width: 20%;
    height: 60px;
    display: inline;
    background-color: white;
    border-color: transparent;
    color: #2196F3;
    font-size:18px;
}

input[type="url"]{
   margin: auto;
   font-size: 15px;
   width: 70%;
   height: 30px;
   border-color: transparent;
   display: block;
   padding:10px;
   border-bottom:2px solid #2196F3;
}

input[type="text"]{
   margin: auto;
   font-size: 15px;
   width: 70%;
   height: 30px;
   border-color: transparent;
   display: block;
   padding:10px;
   border-bottom:2px solid #2196F3;

}

input[type="password"]{
   margin: auto;
   font-size: 15px;
   width: 70%;
   height: 30px;
   border-color: transparent;
   display: block;
   padding:10px;
   border-bottom:2px solid #2196F3;
}
button.sumbit {
    font-size: 20px;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    width: 250px;
    height: 50px;
    border-left: none;
    cursor: pointer;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 25px;
    border: transparent;
}

form .submit {
  margin: auto;
  display: block;
  border-radius: 25px;
  font-size: 20px;
  width: 250px;
  padding: 10px;
  background-color: #2196F3;
  color: white;
  height: 50px;
  border-left: none;
  cursor: pointer;
  text-align: center;
  border: transparent;
}

.facebook{
  margin-top: 10px;
  justify-content: center;
  display:flex;
}
form#signinForm {
    margin-top: 75px;
}
input#image{
   margin: auto;
   font-size: 15px;
   width: 80%;
   height: 30px;
   border-color: #888181;
   border-width: 0 0 2px;
   display: block;
}
.img-responsive {
    margin-top:60px;
    max-width: 100%;
    height:130px;
}
.image{
  display:flex;
  justify-content: center;
  width:100%;
}
h1{
   font-size:37px;
   font-family:Verdana, Geneva, sans-serif;
   color:white;
   text-align: center;
}
::placeholder{
  color:black;
}