* { padding: 0; margin: 0;top:0px;}
body{
  height: 100%;
  width: 100%;
  overflow: auto;
}
.back{
    width:100%;
    position:fixed;
    background-color: #2196F3;
}
h2 {
  display:inline;
   width:80%;
   color: white;
   height: 60px;
   background-color: #2196F3;
   font-family: Verdana, Geneva, sans-serif;
   padding-left: 50px;
}

h3 {
  margin: 25px;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif;
}

.back button {
    width: 20%;
    height: 60px;
    display: inline;
    background-color: #2196F3;
    border-color: transparent;
    color: white;
    font-size:18px;
}

input[type="text"]{
   margin: auto;
   font-size: 15px;
   width: 80%;
   height: 30px;
   border-color: #888181;
   border-width: 0 0 2px;
   display: block;
}

input[type="password"]{
   margin: auto;
   font-size: 15px;
   width: 80%;
   height: 30px;
   border-color: #888181;
   border-width: 0 0 2px;
   display: block;
}

button.sumbit {
  font-size: 20px;
  padding: 10px;
  background-color: #2196F3;
  color: white;
  width:150px;
  height:50px;
  border: transparent;
  border-left: none;
  cursor: pointer;
  margin: auto;
  display: block;
  text-align: center;
  border-radius: 25px
}

form .submit {
  margin: auto;
  display: block;
  border-radius: 30px;
  font-size: 20px;
  width: 100px;
}

.facebook{
  margin-top: 10px;
  justify-content: center;
  display:flex;
}
form#signinForm {
    margin-top: 75px;
}
