* { padding: 0; margin: 0;}
h2 {
    padding-top: 15px;
	 color: white;
    height: 60px;
    background-color: #2196F3;
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

h3 {
  margin: 25px;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

.back button {
  background-color: #2196F3;
  position: absolute;
  width: 75px;
  bottom: 0px;
  padding: 25px;
  color: white;
  font-size: 18px;
  border: transparent;
  border-left: none;
  cursor: pointer;
}

input[type="text"]{
   margin: auto;
   font-size: 20px;
   width: 80%;
   height: 30px;
   border-color: #888181;
   border-width: 0 0 2px;
   display: block;
}

input[type="password"]{
   margin: auto;
   font-size: 20px;
   width: 80%;
   height: 30px;
   border-color: #888181;
   border-width: 0 0 2px;
   display: block;
}

button {
  font-size: 20px;
  padding: 10px;
  background-color: #2196F3;
  color: white;
  border: transparent;
  border-left: none;
  cursor: pointer;
  margin: auto;
  display: block;
  text-align: center;
}

form .submit {
  margin: auto;
  display: block;
  border-radius: 30px;
  font-size: 20px;
  width: 100px;
}
.facebook{
  margin-top: 10px;
  justify-content: center;
  display:flex;
}
